BODY {
	BACKGROUND-IMAGE: url(../images/index_bg.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 180%; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, "ËÎÌו", Helvetica, sans-serif, Verdana; BACKGROUND-POSITION: 50% top; COLOR: #666666; FONT-SIZE: 12px
}
TABLE {
	FONT: 12px/180% Arial, "ËÎÌו", Helvetica, sans-serif, Verdana; COLOR: #444
}
TD {
	FONT: 12px/180% Arial, "ËÎÌו", Helvetica, sans-serif, Verdana; COLOR: #444
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show
}
TH {
	BORDER-COLLAPSE: collapse
}
TD {
	BORDER-COLLAPSE: collapse
}
A {
	
}
A {
	OUTLINE-STYLE: none
}
A:link {
	COLOR: #444; TEXT-DECORATION: none
}
A:visited {
	COLOR: #444; TEXT-DECORATION: none
}
A:hover {
	COLOR: #a71546; TEXT-DECORATION: underline
}
#blue_font {
	COLOR: #0053b9
}
#blue_font A {
	COLOR: #0053b9
}
#blue_font A:visited {
	COLOR: #0053b9
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
.imr {
	MARGIN: 0px 10px; VERTICAL-ALIGN: middle
}
#main_div1 {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: url(../images/header_bg.jpg) no-repeat center top
}
#top {
	MARGIN: 0px auto; WIDTH: 952px
}
#mainmain {
	MARGIN: 0px auto; WIDTH: 952px
}
#header {
	MARGIN: 0px auto; WIDTH: 952px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 40px; OVERFLOW: hidden
}
#top_link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 180px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 70px
}
#top_link #cart .cart_con {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; DISPLAY: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#top_link {
	COLOR: #444
}
#top_link A {
	COLOR: #444
}
#top_link A:visited {
	COLOR: #444
}
#logo {
	PADDING-LEFT: 10px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}
#nav {
	LINE-HEIGHT: 39px; MARGIN: 0px auto 15px; WIDTH: 936px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 39px
}
.nav_l {
	DISPLAY: none
}
.nav_r {
	DISPLAY: none
}
.navigation {
	PADDING-LEFT: 0px
}
.navigation LI {
	Z-INDEX: 100; POSITION: relative; TEXT-ALIGN: center; PADDING-LEFT: 10px; WIDTH: 80px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; FLOAT: left
}
.navigation LI A {
	DISPLAY: block; COLOR: #3c3c3c; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navigation LI A:visited {
	DISPLAY: block; COLOR: #3c3c3c; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navigation LI A:hover {
	BACKGROUND: url(../images/nav_1.gif) no-repeat center 50%; COLOR: #ba083c; TEXT-DECORATION: none
}
.navigation LI.hover A {
	BACKGROUND: url(../images/nav_1.gif) no-repeat center 50%; COLOR: #ba083c; TEXT-DECORATION: none
}
.navigation LI.hover {
	_color: #3c3c3c
}
.navigation LI.hover A:visited {
	_color: #ba083c
}
.navigation UL {
	DISPLAY: none
}
.navigation UL LI {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 27px; PADDING-TOP: 0px
}
.navigation UL LI A {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 24px; COLOR: #ffffff; PADDING-TOP: 0px
}
.navigation UL LI A:hover {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 24px; COLOR: #ffffff; PADDING-TOP: 0px
}
.navigation LI UL {
	Z-INDEX: 100; POSITION: absolute; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; DISPLAY: none; TOP: 39px; PADDING-TOP: 0px; LEFT: 9px
}
.navigation LI UL UL {
	Z-INDEX: 200; BORDER-TOP: #ae1a4e 1px solid; TOP: 0px; LEFT: 80px
}
.navigation LI UL LI {
	BACKGROUND-IMAGE: url(../images/navbg.jpg); BORDER-BOTTOM: #ae1a4e 1px solid; BORDER-LEFT: #ae1a4e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top; BORDER-TOP-WIDTH: 0px; HEIGHT: 27px; COLOR: #ffffff; BORDER-RIGHT: #ae1a4e 1px solid
}
.navigation LI UL LI A {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; TEXT-INDENT: 0px; HEIGHT: 27px; COLOR: #ffffff; FONT-WEIGHT: normal
}
.navigation LI UL LI A:visited {
	BACKGROUND-IMAGE: none; HEIGHT: 27px; COLOR: #ba083c; FONT-WEIGHT: normal; _color: #ba083c
}
.navigation LI UL LI A:hover {
	BACKGROUND-IMAGE: url(../images/navbg1.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top; HEIGHT: 27px; COLOR: #ffffff; _color: #FFFFFF
}
.navigation LI UL LI.hover {
	BACKGROUND-COLOR: #f7e299; WIDTH: 80px; HEIGHT: 27px; COLOR: #ffffff; _color: #FFFFFF
}
.navigation LI.hover UL A {
	BACKGROUND-IMAGE: none; HEIGHT: 27px
}
#nav_bot {
	WIDTH: 938px; BACKGROUND: url(../images/menu_bottom.gif) repeat-x; HEIGHT: 13px
}
#banner {
	MARGIN: 0px auto; WIDTH: 935px; CLEAR: both; OVERFLOW: hidden
}
#main_con {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 952px
}
.web_bg {
	
}
#left {
	POSITION: relative; MARGIN-TOP: 6px; WIDTH: 663px; FLOAT: left; OVERFLOW: hidden; _display: inline
}
#left .blk_t {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
#left .art_list_con {
	SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-FACE-COLOR: #e6e6e6; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; ZOOM: 1; SCROLLBAR-DARKSHADOW-COLOR: #9c9c9c; MARGIN-BOTTOM: 9px; BACKGROUND: url(../images/left_bj.gif) repeat-x 50% top; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; OVERFLOW: auto; SCROLLBAR-TRACK-COLOR: #f5f5f5; SCROLLBAR-3DLIGHT-COLOR: #b0b0b0; PADDING-TOP: 8px; scrollbar-color: #B0B0B0
}
#left .prod_list_con {
	SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-FACE-COLOR: #e6e6e6; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; ZOOM: 1; SCROLLBAR-DARKSHADOW-COLOR: #9c9c9c; MARGIN-BOTTOM: 9px; BACKGROUND: url(../images/left_bj.gif) repeat-x 50% top; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; OVERFLOW: auto; SCROLLBAR-TRACK-COLOR: #f5f5f5; SCROLLBAR-3DLIGHT-COLOR: #b0b0b0; PADDING-TOP: 8px; scrollbar-color: #B0B0B0
}
#left .art_list_con UL LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 30px; HEIGHT: 30px
}
#left .art_list_con UL LI .l_title {
	PADDING-LEFT: 15px; WIDTH: 460px; BACKGROUND: url(../images/news_arrow.gif) no-repeat 0px 10px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden
}
#left .art_list_con UL LI .n_time {
	PADDING-RIGHT: 15px; FLOAT: right; COLOR: #7e7e7e
}
#left .list_con UL.flink_index {
	LINE-HEIGHT: 2em; LIST-STYLE-TYPE: none; ZOOM: 1; OVERFLOW: auto
}
#right .list_con UL.flink_index {
	LINE-HEIGHT: 2em; LIST-STYLE-TYPE: none; ZOOM: 1; OVERFLOW: auto
}
#left .login_con {
	MARGIN: 0px auto; WIDTH: 320px
}
#left .list_con {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .login_main {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .newprod_con {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .prod_type {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .prod_type_n {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .cart_con {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .lagbar {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .recent_con {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left #mess_main {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .cartlist {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .langbar {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .marquee_list {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .com_con {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .qq_list_con {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
#left .mess_submit {
	PADDING-LEFT: 105px
}
#left .mess_input INPUT {
	LINE-HEIGHT: 22px; WIDTH: 430px; HEIGHT: 22px
}
#left .mess_textarea TEXTAREA {
	WIDTH: 430px; HEIGHT: 150px
}
#left .mess_submit {
	TEXT-ALIGN: center; WIDTH: 405px
}
#left .message_bg {
	MARGIN: 0px auto; WIDTH: 542px; DISPLAY: none; BACKGROUND: url(../images/message_pic.jpg) no-repeat; HEIGHT: 268px
}
#left .yzm_input INPUT {
	WIDTH: 366px
}
#right {
	MARGIN-TOP: 6px; WIDTH: 263px; FLOAT: left; MARGIN-LEFT: 8px; OVERFLOW: hidden; MARGIN-RIGHT: 10px; _display: inline
}
#right .newprod_list {
	WIDTH: 248px; OVERFLOW: hidden; _width: 248px
}
#right .newprod_pic {
	WIDTH: 110px; FLOAT: left; HEIGHT: 110px; OVERFLOW: hidden
}
#right .newprod_pic IMG {
	WIDTH: 110px; FLOAT: left; HEIGHT: 110px; OVERFLOW: hidden
}
#right .newprod_name {
	TEXT-ALIGN: center; FLOAT: left; MARGIN-LEFT: 6px
}
#right .newprod_price1 {
	TEXT-ALIGN: center; FLOAT: left; MARGIN-LEFT: 6px
}
#right .newprod_intr {
	TEXT-ALIGN: center; FLOAT: left; MARGIN-LEFT: 6px
}
#right .newprod_name {
	LINE-HEIGHT: 22px; WIDTH: 112px; HEIGHT: 22px; FONT-SIZE: 12px
}
#right .newprod_price1 {
	LINE-HEIGHT: 22px; WIDTH: 112px; HEIGHT: 22px; FONT-SIZE: 12px
}
#right .newprod_intr {
	LINE-HEIGHT: 1.5em; MARGIN: 0px auto; WIDTH: 112px; HEIGHT: 18px; COLOR: #777; OVERFLOW: hidden
}
#right .newprod_xx {
	DISPLAY: none
}
#right .newprod_gg {
	DISPLAY: none
}
#right .newprod_view {
	DISPLAY: none
}
#right .list_title A {
	COLOR: #fff
}
#right .list_title A:visited {
	COLOR: #fff
}
#right .login_title {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/right_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
#right .list_title {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/right_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
#right .cart_title {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/right_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
#right .newprod_title {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/right_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
#right .blk_t {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/right_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
#right .list_con UL LI {
	WIDTH: 230px; FLOAT: none; OVERFLOW: hidden
}
#right .recent_con UL LI {
	WIDTH: 230px; FLOAT: none; OVERFLOW: hidden
}
#right .list_con UL LI {
	WIDTH: 230px; HEIGHT: 24px; OVERFLOW: hidden
}
#right .art_list_title {
	DISPLAY: none
}
#right .list_con {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .login_main {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .newprod_con {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .prod_type {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .prod_type_n {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .cart_con {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .lagbar {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .recent_con {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right #mess_main {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .cartlist {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .langbar {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .marquee_list {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .com_con {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .qq_list_con {
	BACKGROUND-COLOR: #ffffff; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 9px
}
#right .mess_input INPUT {
	LINE-HEIGHT: 18px; WIDTH: 150px; HEIGHT: 18px
}
#right .mess_textarea TEXTAREA {
	WIDTH: 150px; HEIGHT: 50px
}
#right .mess_submit {
	PADDING-LEFT: 75px
}
#right .message_bg {
	DISPLAY: none
}
#right .mess_list {
	MARGIN-BOTTOM: 3px
}
.newprod_pic {
	WIDTH: 133px; HEIGHT: 133px; OVERFLOW: hidden
}
.newprod_pic IMG {
	WIDTH: 133px; HEIGHT: 133px; OVERFLOW: hidden
}
.newprod_list {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; WIDTH: 133px; PADDING-TOP: 6px; _margin: 0 10px
}
.newprod_pic {
	BORDER-BOTTOM: #ffb4c8 1px solid; BORDER-LEFT: #ffb4c8 1px solid; MARGIN: 0px auto; VERTICAL-ALIGN: middle; BORDER-TOP: #ffb4c8 1px solid; BORDER-RIGHT: #ffb4c8 1px solid
}
.newprod_pic:hover {
	BORDER-BOTTOM: #c03261 1px solid; BORDER-LEFT: #c03261 1px solid; BORDER-TOP: #c03261 1px solid; BORDER-RIGHT: #c03261 1px solid
}
.newprod_name {
	LINE-HEIGHT: 22px; HEIGHT: 22px; OVERFLOW: hidden
}
.newprod_name {
	COLOR: #f2006c
}
.newprod_name A {
	COLOR: #f2006c
}
.newprod_name A:visited {
	COLOR: #f2006c
}
.media_grid TD {
	VERTICAL-ALIGN: top
}
.newprod_name A {
	
}
.newprod_name A:visited {
	
}
.newprod_intr {
	LINE-HEIGHT: 1.5em; MARGIN: 0px auto; WIDTH: 133px; HEIGHT: 36px; COLOR: #777; OVERFLOW: hidden
}
.newprod_price1 {
	LINE-HEIGHT: 22px; COLOR: #ff6000
}
.newprod_xx {
	WIDTH: 46px; BACKGROUND: url(../images/more.gif) no-repeat; FLOAT: left; HEIGHT: 20px; FONT-SIZE: 1px; CURSOR: pointer
}
.newprod_xx:hover {
	FILTER: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7
}
.newprod_button {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.newprod_view {
	WIDTH: 46px; FLOAT: left; HEIGHT: 20px; MARGIN-RIGHT: 5px
}
.newprod_view:hover {
	FILTER: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7
}
.prod_list_con {
	PADDING-TOP: 7px
}
.pic_list_list {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5em; MARGIN: 0px 13px; PADDING-LEFT: 0px; WIDTH: 133px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px; _display: inline
}
.prod_list_list {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5em; MARGIN: 0px 13px; PADDING-LEFT: 0px; WIDTH: 133px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px; _display: inline
}
.prod_list_pic {
	MARGIN: 0px auto; WIDTH: 133px; HEIGHT: 133px
}
.prod_list_pic IMG {
	MARGIN: 0px auto; WIDTH: 133px; HEIGHT: 133px
}
.prod_list_pic {
	BORDER-BOTTOM: #ffb4c8 1px solid; BORDER-LEFT: #ffb4c8 1px solid; BORDER-TOP: #ffb4c8 1px solid; BORDER-RIGHT: #ffb4c8 1px solid
}
.prod_list_pic:hover {
	BORDER-BOTTOM: #c03261 1px solid; BORDER-LEFT: #c03261 1px solid; BORDER-TOP: #c03261 1px solid; BORDER-RIGHT: #c03261 1px solid
}
.prod_list_name {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; HEIGHT: 20px; OVERFLOW: hidden
}
.prod_list_type {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; HEIGHT: 20px; OVERFLOW: hidden
}
.prod_list_name {
	HEIGHT: 35px; OVERFLOW: hidden
}
.prod_list_intr {
	PADDING-BOTTOM: 6px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 133px; PADDING-RIGHT: 0px; HEIGHT: 32px; COLOR: #777; OVERFLOW: hidden; PADDING-TOP: 6px
}
.prodview_info {
	PADDING-LEFT: 15px; HEIGHT: 23px
}
.prodview_pic {
	WIDTH: 200px; HEIGHT: 225px
}
.prodview_pic IMG {
	WIDTH: 200px; HEIGHT: 225px
}
.prodview_pic {
	BORDER-BOTTOM: #d5e1e2 1px solid; BORDER-LEFT: #d5e1e2 1px solid; MARGIN: 0px 15px 0px 20px; FLOAT: left; BORDER-TOP: #d5e1e2 1px solid; BORDER-RIGHT: #d5e1e2 1px solid; _margin-left: 10px
}
.prodview_pic:hover {
	BORDER-BOTTOM: #a0a0a0 1px solid; BORDER-LEFT: #a0a0a0 1px solid; BORDER-TOP: #a0a0a0 1px solid; BORDER-RIGHT: #a0a0a0 1px solid
}
.prodview_prices {
	LINE-HEIGHT: 2.5em
}
.prodview_prices IMG {
	MARGIN: 6px; FLOAT: left
}
.prodview_prices INPUT {
	BACKGROUND-IMAGE: url(../images/cart_s_24.jpg); BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 16px; PADDING-LEFT: 5px; WIDTH: 47px; PADDING-RIGHT: 5px; HEIGHT: 16px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.prodview_content {
	TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.7em; MIN-HEIGHT: 50px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; CLEAR: both; PADDING-TOP: 10px
}
.pic_list_list {
	FLOAT: left
}
.pic_list_pic {
	WIDTH: 120px; HEIGHT: 97px
}
.pic_list_pic IMG {
	WIDTH: 120px; HEIGHT: 97px
}
.pic_list_pic {
	BORDER-BOTTOM: #cccccc 3px solid; BORDER-LEFT: #cccccc 3px solid; MARGIN: 0px auto; BORDER-TOP: #cccccc 3px solid; BORDER-RIGHT: #cccccc 3px solid
}
.pic_list_name {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; HEIGHT: 27px
}
#product_gallery {
	MARGIN: 8px
}
.mall_goods_t1 {
	MARGIN-RIGHT: 8px
}
.product_gallery_pic {
	BORDER-BOTTOM: #ececec 3px solid; BORDER-LEFT: #ececec 3px solid; MARGIN: 0px 0px 3px 6px; WIDTH: 120px; BORDER-TOP: #ececec 3px solid; BORDER-RIGHT: #ececec 3px solid
}
.list_con {
	PADDING-TOP: 5px
}
.list_con UL {
	LINE-HEIGHT: 2em; MARGIN-LEFT: 10px
}
.list_con UL LI {
	PADDING-LEFT: 10px; WIDTH: 300px; BACKGROUND: url(../images/news_arrow.gif) no-repeat 0px 10px; FLOAT: left; OVERFLOW: hidden
}
.recent {
	LINE-HEIGHT: 1.7em
}
.recent_con {
	PADDING-TOP: 6px
}
.recent_list {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; MARGIN: 0px auto 5px; WIDTH: 95%; ZOOM: 1; CLEAR: both; OVERFLOW: auto
}
.artview {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; PADDING-TOP: 10px
}
.artview_title {
	BORDER-BOTTOM: #f5f5f5 2px solid; TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN-BOTTOM: 6px; HEIGHT: 40px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.artview_info {
	TEXT-ALIGN: center
}
.artview_intr {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.7em; BACKGROUND-COLOR: #f5f5f5; TEXT-INDENT: 24px; MARGIN: 0px 1px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #868686; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 5px
}
#artview_content {
	TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; LINE-HEIGHT: 2em; TEXT-INDENT: 28px
}
#artview_content {
	FONT-SIZE: 14px
}
#artview_content A {
	FONT-SIZE: 14px
}
#left .art_list {
	MARGIN-BOTTOM: 10px; BACKGROUND: url(../images/lef21t_bj.gif) left bottom
}
#edtprofform {
	BACKGROUND: url(../images/left_bj.gif) repeat-x 50% bottom
}
.login_title {
	LINE-HEIGHT: 31px; TEXT-INDENT: 15px; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 31px; COLOR: #000; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.list_title {
	LINE-HEIGHT: 31px; TEXT-INDENT: 15px; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 31px; COLOR: #000; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.cart_title {
	LINE-HEIGHT: 31px; TEXT-INDENT: 15px; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 31px; COLOR: #000; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.newprod_title {
	LINE-HEIGHT: 31px; TEXT-INDENT: 15px; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 31px; COLOR: #000; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.list_title A {
	COLOR: #1a6592
}
.list_title A:visited {
	COLOR: #1a6592
}
.art_list_title {
	LINE-HEIGHT: 20px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 28px; COLOR: #a71546; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.order_title {
	LINE-HEIGHT: 22px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.first_reg_title {
	LINE-HEIGHT: 22px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.product_title {
	LINE-HEIGHT: 22px; TEXT-INDENT: 7px; FONT-FAMILY: "Microsoft Yahei", Arial; BACKGROUND: url(../images/left_class_bg.gif) no-repeat; HEIGHT: 27px; COLOR: #a71546; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.cart_con {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.com_con {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#left .list_bot {
	CLEAR: both
}
#left .login_bot {
	CLEAR: both
}
#right .list_bot {
	CLEAR: both
}
#right .login_bot {
	CLEAR: both
}
.login_info {
	LINE-HEIGHT: 22px; HEIGHT: 22px; CLEAR: both
}
.login_info A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f6f6f6; CLEAR: both; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.login_left {
	TEXT-ALIGN: right; LINE-HEIGHT: 25px; WIDTH: 70px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 30px
}
.login_right {
	WIDTH: 165px; FLOAT: left; HEIGHT: 30px
}
.login_right INPUT {
	BORDER-BOTTOM: #d6d6d6 1px solid; BORDER-LEFT: #d6d6d6 1px solid; LINE-HEIGHT: 21px; WIDTH: 163px; BACKGROUND: url(../images/login_input.gif); HEIGHT: 21px; COLOR: #444; FONT-SIZE: 12px; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid
}
.login_all {
	TEXT-ALIGN: center; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 7px
}
.login_all INPUT {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px 0px 0px 20px; PADDING-LEFT: 0px; WIDTH: 61px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/login_button.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 23px; COLOR: #444; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.login_top {
	BACKGROUND-IMAGE: url(../images/health_15.jpg); DISPLAY: none; HEIGHT: 13px; FONT-SIZE: 1px
}
.login_all1 {
	LINE-HEIGHT: 22px; PADDING-LEFT: 12px; HEIGHT: 22px
}
.login_con {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-TOP: 6px
}
#yzmshow {
	Z-INDEX: 3; POSITION: absolute; MARGIN-TOP: 15px; DISPLAY: none; FLOAT: left; MARGIN-LEFT: 25px
}
#yzmshow IMG {
	BORDER-BOTTOM: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; MARGIN-TOP: 2px; HEIGHT: 18px; BORDER-TOP: #ccc 2px solid; BORDER-RIGHT: #ccc 2px solid
}
#loginform_stat {
	LINE-HEIGHT: 25px; MARGIN: 0px auto; WIDTH: 200px; DISPLAY: none; HEIGHT: 25px
}
.art_list_search {
	POSITION: absolute; MARGIN-TOP: -28px; MARGIN-LEFT: 418px
}
#article_keyword {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 5px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 165px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_input.gif); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
#prd_keyword {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 5px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 165px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_input.gif); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
#download_keyword {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 5px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 165px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_input.gif); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
#articlesearch_submit {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 15px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; WIDTH: 62px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_button1.png) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
#prdsearch_submit {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 15px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; WIDTH: 62px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_button1.png) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
#downloadsearch_submit {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 15px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; WIDTH: 62px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_button1.png) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
#left .list_con .flink_index LI {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 14px; LIST-STYLE-TYPE: none; WIDTH: 110px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 31px; OVERFLOW: hidden; _display: inline
}
#right .list_con .flink_index LI {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 14px; LIST-STYLE-TYPE: none; WIDTH: 110px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 31px; OVERFLOW: hidden; _display: inline
}
#left .list_con .flink_index LI IMG {
	MARGIN: 0px auto; WIDTH: 88px; HEIGHT: 31px
}
#right .list_con .flink_index LI IMG {
	MARGIN: 0px auto; WIDTH: 88px; HEIGHT: 31px
}
#left .list_con .flink_index LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#right .list_con .flink_index LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#left .flink_index LI A {
	CURSOR: pointer
}
#left .flink_index LI IMG {
	CURSOR: pointer
}
#right .flink_index LI A {
	CURSOR: pointer
}
#right .flink_index LI IMG {
	CURSOR: pointer
}
.flinkbody IMG {
	HEIGHT: 31px
}
.qq_list_con UL LI {
	WIDTH: 200px; MARGIN-BOTTOM: 5px; CLEAR: both
}
#left .qq_list_con UL LI {
	MARGIN-BOTTOM: 5px; FLOAT: left; CLEAR: none; MARGIN-RIGHT: 10px
}
.qq_list_con {
	PADDING-BOTTOM: 5px; OVERFLOW-X: hidden; OVERFLOW-Y: hidden; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; OVERFLOW: auto; PADDING-TOP: 5px
}
#sta_content {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 2em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/left_bj.gif) repeat-x left bottom; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 10px
}
INPUT.add_to_cart_b_view {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 28px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 109px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/add_to_cart.gif); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 34px; COLOR: #fff; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 0px; _margin-top: 2px
}
.saving_o_b {
	POSITION: absolute; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 22px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 78px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/saving.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.order_now_b {
	POSITION: absolute; TEXT-ALIGN: left; LINE-HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px; MARGIN-TOP: -3px; TEXT-INDENT: 18px; WIDTH: 78px; BACKGROUND: url(../images/order.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.Modify_items_b {
	POSITION: absolute; TEXT-ALIGN: left; LINE-HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px; MARGIN-TOP: -3px; TEXT-INDENT: 22px; WIDTH: 92px; BACKGROUND: url(../images/modify.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.ordernow {
	POSITION: absolute; MARGIN-TOP: -28px; MARGIN-LEFT: 562px
}
.cartlist_list {
	PADDING-TOP: 5px
}
.cartlist_pic {
	WIDTH: 75px; HEIGHT: 75px
}
.cartlist_pic IMG {
	WIDTH: 75px; HEIGHT: 75px
}
.cartlist_pic {
	BORDER-BOTTOM: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; FLOAT: left; MARGIN-LEFT: 20px; BORDER-TOP: #ccc 2px solid; MARGIN-RIGHT: 20px; BORDER-RIGHT: #ccc 2px solid; _margin-left: 10px
}
.cartlist_nametype {
	WIDTH: 410px; FLOAT: left
}
.cartlist_no {
	LINE-HEIGHT: 3em
}
.cartlist_no INPUT {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 47px; PADDING-RIGHT: 5px; HEIGHT: 16px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0px
}
#amount {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 47px; PADDING-RIGHT: 5px; HEIGHT: 16px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0px
}
.cartlist_intr {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 7px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 25px; CLEAR: both; PADDING-TOP: 5px
}
.new_orders_list {
	MARGIN: 10px 0px 0px 10px
}
.new_orders_list TH {
	BORDER-BOTTOM: #d8d8d8 1px dashed
}
.new_orders_list TD {
	BORDER-BOTTOM: #d8d8d8 1px dashed; PADDING-RIGHT: 10px; HEIGHT: 32px
}
.order_1 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 10px; _display: inline
}
.order_2 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 10px; _display: inline
}
.order_3 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 10px; _display: inline
}
.order_4 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 10px; _display: inline
}
.order_5 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 10px; _display: inline
}
.order_1 {
	WIDTH: 125px
}
.order_2 {
	WIDTH: 117px
}
.order_3 {
	WIDTH: 117px
}
.order_4 {
	WIDTH: 117px
}
.order_5 {
	WIDTH: 117px
}
.ordertotle {
	LINE-HEIGHT: 30px; PADDING-LEFT: 6px; WIDTH: 382px; FLOAT: left; HEIGHT: 30px
}
.o_b1 {
	BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 2px; CLEAR: both; FONT-SIZE: 1px
}
.o_b {
	BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 2px; CLEAR: both; FONT-SIZE: 1px
}
.addr {
	BORDER-BOTTOM: #dedede 1px solid; LINE-HEIGHT: 30px; MARGIN-TOP: 4px; HEIGHT: 30px
}
.addr1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #dedede; WIDTH: 85px; HEIGHT: 30px; MARGIN-LEFT: 20px
}
.addr2 {
	BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 2.5em; MIN-HEIGHT: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #dedede 0px solid; BORDER-RIGHT: #dedede 1px solid; PADDING-TOP: 5px
}
.addr2 A {
	COLOR: #003399
}
.submit_order {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; LINE-HEIGHT: 25px; BORDER-RIGHT-STYLE: none; MARGIN: 7px 0px 7px 20px; WIDTH: 80px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/sendorder.gif) no-repeat; HEIGHT: 28px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
.submit_order_wrapper {
	BACKGROUND: #fff; HEIGHT: 100px
}
.prod_type {
	PADDING-LEFT: 0px; PADDING-TOP: 4px; _padding-left: 0px
}
.prod_type UL {
	MARGIN: 0px auto; WIDTH: 90%; FLOAT: none
}
.prod_type UL LI {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 4px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; PADDING-TOP: 0px
}
.prod_type UL LI A {
	LINE-HEIGHT: 29px; HEIGHT: 29px
}
.prod_type UL LI A:hover {
	
}
.prod_type UL LI.act A {
	
}
.prod_type UL UL {
	DISPLAY: none
}
.prod_type UL UL LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 8px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.prod_type UL LI {
	COLOR: #444
}
.prod_type UL LI A {
	COLOR: #444
}
.prod_type UL LI A:visited {
	COLOR: #444
}
.prod_type_n {
	PADDING-LEFT: 0px; PADDING-TOP: 4px; _padding-left: 0px
}
.prod_type_n UL {
	MARGIN: 0px auto; WIDTH: 90%; FLOAT: none
}
.prod_type_n UL LI {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 4px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; PADDING-TOP: 0px
}
.prod_type_n UL LI A {
	LINE-HEIGHT: 29px; HEIGHT: 29px
}
.prod_type_n UL LI A:hover {
	
}
.prod_type UL LI.act A {
	
}
.prod_type_n UL UL {
	DISPLAY: none
}
.prod_type_n UL UL LI {
	PADDING-BOTTOM: 4px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.prod_type_n UL LI {
	COLOR: #444
}
.prod_type_n UL LI A {
	COLOR: #444
}
.prod_type_n UL LI A:visited {
	COLOR: #444
}
#mess_main {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.mess_list {
	MARGIN-BOTTOM: 10px; CLEAR: both
}
.mess_title {
	MARGIN-BOTTOM: 6px; FLOAT: left; PADDING-TOP: 10px
}
.mess_input {
	MARGIN-BOTTOM: 6px; FLOAT: left; PADDING-TOP: 10px
}
.mess_textarea {
	MARGIN-BOTTOM: 6px; FLOAT: left; PADDING-TOP: 10px
}
.mess_title {
	TEXT-ALIGN: right; WIDTH: 60px; MARGIN-RIGHT: 15px
}
.mess_input INPUT {
	BORDER-BOTTOM: #d6d6d6 1px solid; BORDER-LEFT: #d6d6d6 1px solid; BACKGROUND: url(../images/mess_input_bg.gif) #fff repeat-x; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid
}
.mess_textarea TEXTAREA {
	BORDER-BOTTOM: #d6d6d6 1px solid; BORDER-LEFT: #d6d6d6 1px solid; BACKGROUND: url(../images/mess_input_bg.gif) #fff repeat-x; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid
}
.mess_textarea TEXTAREA {
	OVERFLOW: auto
}
.subd {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 70px; BACKGROUND: url(../images/mess_sub.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 26px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.reg_bg {
	BACKGROUND: url(../images/reg_pic.jpg) no-repeat 50% bottom; HEIGHT: 396px
}
#regform_table {
	PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 598px
}
#regform_table .regform_table_s {
	MARGIN: 0px auto; WIDTH: 320px
}
#regform_table TD {
	TEXT-ALIGN: left
}
#regform_table .td_sub {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
#regform_table TBODY TD INPUT {
	BORDER-BOTTOM: #9ca9c9 1px solid; BORDER-LEFT: #9ca9c9 1px solid; MARGIN-TOP: 4px; WIDTH: 100px; PADDING-RIGHT: 8px; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 12px; BORDER-TOP: #9ca9c9 1px solid; BORDER-RIGHT: #9ca9c9 1px solid
}
#regform_table INPUT#submit {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 74px; BACKGROUND: url(../images/reg_button.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 25px; COLOR: #fff; MARGIN-LEFT: 48px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.regformsub INPUT {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 80px; BACKGROUND: url(../images/sendorder.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 28px; COLOR: #fff; MARGIN-LEFT: 170px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
#regform_table .regform_table_s TD.label {
	WIDTH: 65px; HEIGHT: 15px; PADDING-TOP: 4px
}
#regform_table .regform_table_s TD.entry {
	WIDTH: 255px
}
.status {
	BORDER-BOTTOM: #ee9c5f 1px solid; BORDER-LEFT: #ee9c5f 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fffbd0; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666; BORDER-TOP: #ee9c5f 1px solid; BORDER-RIGHT: #ee9c5f 1px solid; PADDING-TOP: 10px
}
.counter {
	BORDER-BOTTOM: #383838 1px solid; BORDER-LEFT: #383838 1px solid; LINE-HEIGHT: 26px; BACKGROUND-COLOR: #565656; TEXT-INDENT: 10px; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: #383838 1px solid; BORDER-RIGHT: #383838 1px solid
}
.counter SPAN {
	FLOAT: left
}
#counterpic {
	MARGIN-TOP: -2px; FLOAT: left
}
#counterpic IMG {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 2px
}
.jsq {
	MIN-WIDTH: 12px; TEXT-ALIGN: center; LINE-HEIGHT: 14px; BACKGROUND-COLOR: #fff; MARGIN-TOP: 6px; TEXT-INDENT: 0px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; FLOAT: left; COLOR: #000; FONT-WEIGHT: normal; MARGIN-RIGHT: 4px
}
.langbar {
	MARGIN: 0px auto; ZOOM: 1; DISPLAY: block; HEIGHT: 43px; CLEAR: both; OVERFLOW: hidden
}
.langbar A {
	TEXT-ALIGN: center; MARGIN: 10px; WIDTH: 66px; DISPLAY: block; BACKGROUND: #ffa2d9; FLOAT: left; HEIGHT: 20px
}
#pagerwrapper {
	MARGIN: 0px auto; WIDTH: 661px; BACKGROUND: #fff; CLEAR: both
}
.custom_con {
	BORDER-BOTTOM: #eaeaea 1px solid; TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; BORDER-LEFT: #eaeaea 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; MARGIN-BOTTOM: 9px; BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid; PADDING-TOP: 15px
}
.custom_con TD {
	TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify
}
#footermain {
	BACKGROUND-IMAGE: url(../images/botto.jpg); BACKGROUND-COLOR: #fff; MARGIN: 0px auto; WIDTH: 952px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% top
}
#footbottom {
	MARGIN: 0px auto; WIDTH: 936px; BACKGROUND: url(../images/botto.png) no-repeat; HEIGHT: 9px
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.5em; MARGIN: 0px auto; WIDTH: 936px; COLOR: #666666; CLEAR: both; PADDING-TOP: 10px
}
#footer A {
	COLOR: #a71546
}
#footer A:visited {
	COLOR: #a71546
}
#footer .custom_con {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
#footer .com_con {
	WIDTH: 900px; COLOR: #666666; FONT-SIZE: 12px; OVERFLOW: hidden
}
#footer .list_bot {
	DISPLAY: none
}
.copyright {
	PADDING-BOTTOM: 0px; MARGIN: 10px auto 0px; WIDTH: 900px
}
.more {
	DISPLAY: none
}
.list_more {
	TEXT-ALIGN: right; PADDING-BOTTOM: 10px; PADDING-RIGHT: 20px; CLEAR: both
}
.marquee {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 8px; BACKGROUND: #fff; HEIGHT: 100px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.marquee IMG {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; DISPLAY: block; MARGIN-BOTTOM: 5px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.marquee P {
	BORDER-BOTTOM: #e6e6e6 1px dashed; TEXT-ALIGN: left; LINE-HEIGHT: 24px; PADDING-LEFT: 20px; HEIGHT: 24px
}
.marquee_list {
	TEXT-ALIGN: center; BACKGROUND: #fff; OVERFLOW: hidden
}
#left .marquee_list {
	_width: 641px
}
.marquee_list IMG {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 1px; MARGIN: 3px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 1px
}
#adminToolbar {
	Z-INDEX: 99; BORDER-BOTTOM: #000 1px solid; WIDTH: 100%; BACKGROUND: url(../images/admintoolbar_bg.gif) repeat-x; HEIGHT: 38px
}
#adminToolbar UL {
	TEXT-ALIGN: left; PADDING-LEFT: 150px; BACKGROUND: url(../images/admintoolbar_lo.gif) no-repeat; FLOAT: left; HEIGHT: 38px
}
#adminToolbar UL LI {
	Z-INDEX: 98; POSITION: relative; PADDING-BOTTOM: 9px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; FLOAT: left; PADDING-TOP: 9px
}
#adminToolbar .section {
	BORDER-BOTTOM: #6da5c7 1px solid; BORDER-LEFT: #6da5c7 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/admintoolbar_bt_bg.gif) repeat-x 50% top; FLOAT: left; HEIGHT: 18px; COLOR: #012d5f; BORDER-TOP: #6da5c7 1px solid; BORDER-RIGHT: #6da5c7 1px solid; PADDING-TOP: 0px
}
#adminToolbar .section:hover {
	BORDER-BOTTOM: #dea303 1px solid; BORDER-LEFT: #dea303 1px solid; BACKGROUND: url(../images/admintoolbar_bt_bg.gif) repeat-x 50% bottom; COLOR: #a15b00; BORDER-TOP: #dea303 1px solid; BORDER-RIGHT: #dea303 1px solid
}
.adminToolbar_downmenu {
	POSITION: absolute; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 100px; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND: #fff; TOP: 29px; PADDING-TOP: 10px; LEFT: 10px
}
.adminToolbar_downmenu A {
	LINE-HEIGHT: 24px; DISPLAY: block; HEIGHT: 24px; COLOR: #012d5f
}
.admintoolbar_right {
	LINE-HEIGHT: 38px; PADDING-RIGHT: 40px; FLOAT: right; COLOR: #00c6ff
}
.admintoolbar_right A {
	COLOR: #fff
}
.admintoolbar_right A:hover {
	COLOR: #00c6ff
}
.mod_toolbar {
	Z-INDEX: -1; TEXT-ALIGN: left; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; BACKGROUND: #000; HEIGHT: 24px
}
.mod_toolbar IMG {
	VERTICAL-ALIGN: middle
}
.mod_toolbar A {
	COLOR: #fff; FONT-SIZE: 11px
}
.web_bg .sortable_placeholder {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; DISPLAY: block; BACKGROUND: #ccc; HEIGHT: 32px; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
.placeholder {
	DISPLAY: block; HEIGHT: 12px
}
.blankbar {
	LINE-HEIGHT: 1px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px
}
.blankbar1 {
	LINE-HEIGHT: 1px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px
}
#pager {
	MARGIN: 0px auto 10px
}
#pager TD {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999
}
#pager TD A IMG {
	MARGIN-TOP: 2px; PADDING-RIGHT: 2px; MARGIN-LEFT: 2px
}
P.static_html {
	FONT-SIZE: 14px
}
P.static_html IMG {
	MARGIN: 10px
}
.articel_search {
	MARGIN-TOP: 36px; WIDTH: 260px; FLOAT: right
}
.bulletin {
	HEIGHT: 150px; OVERFLOW: hidden
}
.notice_con {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
#left .flash_image {
	WIDTH: 663px; MARGIN-BOTTOM: 6px; OVERFLOW: hidden
}
#right .flash_image {
	PADDING-BOTTOM: 10px; WIDTH: 263px; OVERFLOW: hidden
}
#left .pro_over {
	PADDING-BOTTOM: 10px; WIDTH: 640px; OVERFLOW: hidden; PADDING-TOP: 10px; _width: 640px
}
#right .pro_over {
	WIDTH: 263px; OVERFLOW: hidden; _width: 259px
}
#left .com_con {
	WIDTH: 641px; OVERFLOW: hidden
}
#right .com_con {
	PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 261px; OVERFLOW: hidden; PADDING-TOP: 10px; _width: 261px
}
.switch_langbar {
	COLOR: #fff
}
.switch_langbar A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.switch_langbar A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.switch_langbar A:hover {
	COLOR: #ccc; TEXT-DECORATION: underline
}
.switch_langbar A:active {
	COLOR: #ccc; TEXT-DECORATION: none
}
.lngbar_option A:link {
	COLOR: #444
}
.lngbar_select {
	COLOR: #444
}
.lngbar_option {
	BACKGROUND: #000
}
.lngbar_select {
	BORDER-BOTTOM: #74983b 1px solid; BORDER-LEFT: #74983b 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 20px; BACKGROUND: url(../../../images/down.gif) #fff no-repeat right center; BORDER-TOP: #74983b 1px solid; CURSOR: pointer; BORDER-RIGHT: #74983b 1px solid; PADDING-TOP: 0px
}
.lngbar_option {
	Z-INDEX: 1000; BORDER-BOTTOM: #74983b 1px solid; POSITION: absolute; BORDER-LEFT: #74983b 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: none; BORDER-RIGHT: #74983b 1px solid; PADDING-TOP: 3px
}
.lngbar_option A {
	WIDTH: 100%; DISPLAY: inline-block
}
